/*----------------------------------------------
-Halfs - 50 / 50 layouts
-----------------------------------------------*/
.halfs{
  display:flex;
  flex-direction: column;
  @media (min-width: $mq-med){
    flex-direction: row;
  }  

  &__col{
    display:flex;
    align-items:center;
    min-height: 20em;
    @media (min-width: $mq-med){
      width: 50%;
    }
  }
  
  &__content{
    padding: 5em 2.5em;
    margin: 0 auto;
    @media (min-width: $mq-med){
      max-width:38em;
      padding: 7.5em 2.5em;
    }  
  }

  &__title{
    @extend %font-title-light;
  }

  blockquote{
    cite{
      margin-top: 3em;
      font-style: normal;
      @extend %font-subtitle;
    }
  }
}

.halfs--reverse{
  @media (min-width: $mq-med){
    flex-direction: row-reverse;
  }
}

/*----------------------------------------------
-Halfs - Centered
-----------------------------------------------*/
.halfs--centered{
  background-color: $color-black;
  color: $color-light;
  .halfs__col{
    width: 100%;
    @media(min-width: $mq-med){
      min-height: 30em;
    } 
  }
  .halfs__content{
    margin: 0 auto;
    @media(min-width: $mq-med){
      max-width:40em;
      padding: 10% 5%;
    } 
  }
}

