/*----------------------------------------------
MASTS
Styles for Masthead elements

@see: scss/tools/mixins.scss for the 'mast' mixin
-----------------------------------------------*/
.mast {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
  min-height: 60vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 6em;
  padding-bottom: 4em;

  text-align: center;
  overflow: hidden;
  color: #fff;
  background-color: $color-black;
  // @include bg-overlay($opacity: 0.4);

  @media (min-width: $mq-xlarge) {
    height: 37em;
    max-height: 70vh;
  }

  // Background-Image holder
  &__bg {
    @include bg-img-abs();

    z-index: 0;

    opacity: 0.7;
    animation: fade-in-mast 1.5s 1s ease both;
  }

  // Grid
  [class*='grid'] {
    position: relative;

    align-self: center;
    margin: 0;
  }

  // Mast Content Wrapper
  &__content, &__header {
    position: relative;
    z-index: 4;

    max-width: 40em;
    margin: 0 auto;
    padding: 0 $grid-col-pad;
  }

  &__pretitle {
    @extend %font-subtitle;

    margin-bottom: 1em;
  }

  // Mast Title
  &__title {
    @extend %font-mast-h1;

    animation: fade-in 1.5s 1.5s ease both;
  }

  // Mast paragraph / text
  &__text {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
  }

  // Mast Subtitle
  &__subtitle{
    @extend %font-subtitle;

    font-size: $font-small;
  }

  &__icon {
    display:block;

    font-size: 2.75em;
    color: #fff;
  }

  .btn {
    position: relative;
    right: -2em;

    margin: 1.5em auto;

    animation: fade-in 1s 2s ease both;
  }

  // No brs on mobile
  br {
    display: none;

    @media (min-width: $mq-small) {
      display: block;
    }
  }

  video{
    object-fit: cover;
  }
}

/*----------------------------------------------
-Mast Author
-----------------------------------------------*/
.mast-author {

  &__figure {

    img {
      display: block;
      height: 5em;
      width: 5em;
      margin: 0 auto;

      border-radius: 100%;

      @media (min-width: $mq-small) {
        height: 10em;
        width: 10em;
      }
    }

    & + .mast-author__author {
      margin-top: 0.5em;
    }
  }

  &__author {
    margin-bottom: 0.5em;
  }
}

/*----------------------------------------------
-Masts Modifier: full height
-----------------------------------------------*/
%mast--vh,
.mast--vh {

  @media (min-width: $mq-small) {
    min-height: 100vh;
  }
}

/*----------------------------------------------
-Mast Pages
-----------------------------------------------*/
.mast--short,
.mast--blog,
.page-template-sitemap .mast,
.page-template-legal .mast {
  min-height: 25em;
  max-height: 25em;
}

.mast--lg,
.mast--home {
  height: 37em;
  max-height: 90vh;

  @media (min-width: $mq-xlarge) {
    height: 42em;
  }
}


